@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Bold.woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #FED7C6;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #BF6C7D;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding: 20px;
    max-width: 1180px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.element {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #BF6C7D;
}

.element:first-of-type {
    border-top: 2px solid #BF6C7D;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.bayan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bayan__title {
    font-size: 24px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
        font-size: 32px;
    }
}

.bayan__wrap {
    width: 100%;
}

.logo {
    display: flex;
    justify-content: flex-end;
}

.logo:hover .logo__text {
    color: #624E93;
}

.logo__link {
    display: flex;
    align-items: center;
}

.logo__img {
    border-radius: 50%;
}

.logo__text {
    margin-right: 30px;
    transition: color 0.6s;
}

.copyright {
    width: 50%;
    margin: 0 auto;
}

.copyright__text {
    text-align: center;
}

.copyright__link:hover .copyright__text {
    color: #624E93;
    transition: color 0.6s;
}

.element input {
    display: none;
}

.element__wrap {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.element__img img {
    border-radius: 30%;
}

.element__img {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    display: flex;
    align-items: center;
    transition: opacity 0.6s;
}

.element__img:hover {
    opacity: 0.5;
}

input:checked~.element__img {
    height: 300px;
}

/* label:hover .element__img {
    height: 300px;
} */

/* label:hover .element__wrap svg {
    display: block;
} */

.element input:checked~.element__wrap svg {
    display: block;
}

/* .element input:checked:hover~label svg {
    display: block;
    transform: none;
} */


.element label svg {
    width: 24px;
    height: 24px;
    fill: #BF6C7D;
    margin-left: auto;
    display: none;
}

.element__wrap {
    width: 100%;
    display: flex;
    align-items: center;
}